footer{width:cover;
    div{
        div{
            div{
                margin: initial;
                a{
                    font-size: 2vh;
                    color: rgb(223, 221, 221);
                    text-shadow: 5px 5px 3px black;
                }
                h5{
                    color: #ffffff;
                    font-size: 2.5vh;
                    padding: 1vh;
                    margin-left: 0;
                }
            }
            div.d-flex{
                p{
                    margin-left: 0;
                    .copir{
                        margin: 5;
                    }
                    .codesur{
                        margin-right: 0;
                    }
                }
            }
            
        
        }
    } 
}
